.App {
  text-align: center;
}

.data {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
}

.search-bar {
  font-size: 2rem;
  width: 40%;
  margin: 1% auto;
  height: 2rem;
  font-size: 1.2rem;
  color: #181c2b;
}

.m {
  background-color: blue;
}

.f {
  background-color: rgb(226, 43, 156);
}

.m,
.f {
  padding: 1rem;
  width: auto;
  border-radius: 0.5rem;
  margin: 3px;
}
p {
  cursor: pointer;
}
h4{
  color: gray;
}
